{
  "extends": [
    "eslint:recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "quotes": [2, "single"],
    "no-case-declarations": 1,
    "no-class-assign": 0,
    "no-unused-vars": 1,
    "semi": ["error", "always"],
    "object-shorthand": ["error", "always"],
    "comma-dangle": ["error", "never"],
    "prefer-destructuring": ["error", {
      "array": true,
      "object": true
    }],
    "jsx-quotes": ["error", "prefer-double"],
    "space-before-function-paren": ["error", "never"],
    "object-curly-spacing": ["warn", "never"]
  }
}
