{
    "extends": [
      "eslint:recommended", "plugin:react/recommended"
    ],
    "parser": "babel-eslint",
    "env": {
      "node": true,
      "mocha": true,
      "es6": true
    },
    "plugins": [
      "react"
    ],
    "rules": {
      "quotes": [2, "single"],
      "react/react-in-jsx-scope": 0,
      "no-console": 0
    }
  }
